/* CSS Custom Properties */
:root {
  --background-color: #eee7f0;
  --background-color-secondary: #fff;
  --background-gradient: radial-gradient(var(--background-color-secondary), var(--background-color));
  --text-color: #3f0b5a;
  --text-color-light: #E0D2E5;
}

/* SCSS Variables */

$inner-light-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
$outer-dark-shadow: 0 0 7px rgba(0, 0, 0, 0.5);

/* Resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basics */

body {
  font-family: 'Comic Neue', sans-serif;
  background: var(--background-gradient);
  color: var(--text-color);
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 3em;
  background: var(--text-color);
  color: var(--background-color);
  padding-top: 10px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.container::before {
  content: '';
  width: 100%;
  height: 25px;
  background: linear-gradient(to bottom, var(--text-color), transparent 200%);
  display: block;
  margin-bottom: 20px;
}

.svg-container {
  overflow: hidden;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .svg-container {
    width: 50%;
    margin-right: 3vw;
  }
}

@media screen and (min-width: 1200px) {
  .svg-container {
    width: 35%;
  }
}

/* SVG */

.svg-item {
  transition: fill .25s ease-in-out;
}

/* Controls */

.controls {
  border: 2px var(--text-color-light) solid;
  padding: 10px;
  background: var(--background-color-secondary);
}

.individual-control {
  padding: 7px;
  padding-left: 15px;
  border-bottom: 1px var(--text-color-light) solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.individual-control:last-of-type {
  border-bottom-width: 0;
}

.controls-label {
  width: 135px;
  font-weight: bold;
  font-size: 1.25em;
}

.color-button, .controls-input {
  &:active, &:hover, &:focus {
    box-shadow: $inner-light-shadow, $outer-dark-shadow
  }
  width: 55px;
  height: 32px;
  border-radius: 5px;
  border: 1px var(--text-color) solid;
  padding: 5px;
  margin-right: 12px;
  box-shadow: $inner-light-shadow;
  transition: box-shadow .25s ease-in-out;
}

.color-picker {
  margin-bottom: 10px;
}