/* Resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basics */

body {
  font-family: 'Comic Neue', sans-serif;
}

.app {
  margin: 10px;
}

h1 {
  text-align: center;
  margin-bottom: .85em;
}

.container {
  display: flex;
  justify-content: center;
}

.doghead {
  margin-right: 10px;
}

/* Controls */

.controls-div {
  margin-bottom: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls-label {
  width: 100px;
}

.color-button, .controls-input {
  width: 50px;
  height: 25px;
  border-radius: 5px;
  border: 1px #000 solid;
  padding: 5px;
}

.color-picker {
  margin-bottom: 10px;
}