<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Cartoon Dog Creator</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="css/style.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">  
      <script src="https://unpkg.com/vue@3.2.20/dist/vue.global.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@ckpack/vue-color@latest/dist/index.min.js"></script>
   </head>
   <body>
      <div id="app" class="app">
         <div class="outer-container" @click="anyClick">
            <h1>🐶 Cartoon Dog Creator 🎨</h1>
            <div class="container">
               <div class="svg-container" :style="svgContainerStyle">
                  <svg
                     xmlns:dc="http://purl.org/dc/elements/1.1/"
                     xmlns:cc="http://creativecommons.org/ns#"
                     xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                     xmlns:svg="http://www.w3.org/2000/svg"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 147 160"
                     version="1.1"
                     id="doghead" class="doghead">
                     <defs />
                     <g
                        transform="translate(-27.431138,-87.690472)">
                        <!-- HEAD -->
                        <ellipse
                           :style="headStyle"
                           id="head" class="head"
                           cx="126"
                           cy="132"
                           rx="42"
                           ry="44" />
                        <!-- MUZZLE -->
                        <ellipse
                           :style="muzzleStyle"
                           id="muzzle" class="muzzle"
                           cx="78"
                           cy="144"
                           rx="38"
                           ry="20" />
                        <!-- EAR -->
                        <ellipse
                           :style="earStyle"
                           id="ear" class="ear" ref="ear"
                           :cx="earXPosition"
                           :cy="earYPosition"
                           :rx="earWidth"
                           :ry="earLength" />
                        <!-- NOSE -->
                        <ellipse
                           :style="noseStyle"
                           id="nose" class="nose"
                           cx="46"
                           cy="137"
                           :rx="noseLength"
                           :ry="noseHeight" />
                        <!-- EYEWHITE -->
                        <ellipse
                           :style="eyewhiteStyle"
                           id="eyewhite" class="eyewhite"
                           cx="108"
                           cy="122"
                           rx="12"
                           ry="19" />
                        <!-- PUPIL -->
                        <ellipse
                           :style="pupilStyle"
                           id="pupil" class="pupil"
                           cx="113"
                           cy="129"
                           rx="6"
                           ry="8" />
                     </g>
                  </svg>
               </div>
               <div class="controls">
                  <div class="controls-div">
                     <label class="controls-label" for="head-color-chooser">Head: </label>
                     <input class="controls-input" type="color" id="head-color-chooser" v-model="headStyle.fill" v-if="useBrowserColorPicker" />
                     <button id="head-color-chooser" class="color-button" @click="toggleColorPicker('head')" :style="headButtonStyle" v-else></button>
                  </div>
                  <Chrome class="color-picker" v-model="headColorInfo" v-if="showHeadColorPicker"></Chrome>

                  <div class="controls-div">
                     <label class="controls-label" for="muzzle-color-chooser">Muzzle: </label>
                     <input class="controls-input" type="color" id="muzzle-color-chooser" v-model="muzzleStyle.fill" v-if="useBrowserColorPicker" />
                     <button id="muzzle-color-chooser" class="color-button" @click="toggleColorPicker('muzzle')" :style="muzzleButtonStyle" v-else></button>
                  </div>
                  <Chrome class="color-picker" v-model="muzzleColorInfo" v-if="showMuzzleColorPicker"></Chrome>

                  <div class="controls-div">
                     <label class="controls-label" for="ear-color-chooser">Ear: </label>
                     <input class="controls-input" type="color" id="ear-color-chooser" v-model="earStyle.fill" v-if="useBrowserColorPicker" />
                     <button id="ear-color-chooser" class="color-button" @click="toggleColorPicker('ear')" :style="earButtonStyle" v-else></button>
                  </div>
                  <Chrome class="color-picker" v-model="earColorInfo" v-if="showEarColorPicker"></Chrome>

                  <div class="controls-div">
                     <label class="controls-label" for="nose-color-chooser">Nose: </label>
                     <input class="controls-input" type="color" id="nose-color-chooser" v-model="noseStyle.fill" v-if="useBrowserColorPicker" />
                     <button id="nose-color-chooser" class="color-button" @click="toggleColorPicker('nose')" :style="noseButtonStyle" v-else></button>
                  </div>
                  <Chrome class="color-picker" v-model="noseColorInfo" v-if="showNoseColorPicker"></Chrome>

                  <div class="controls-div">
                     <label class="controls-label" for="eyewhite-color-chooser">Eyewhite: </label>
                     <input class="controls-input" type="color" id="eyewhite-color-chooser" v-model="eyewhiteStyle.fill" v-if="useBrowserColorPicker" />
                     <button id="eyewhite-color-chooser" class="color-button" @click="toggleColorPicker('eyewhite')" :style="eyewhiteButtonStyle" v-else></button>
                  </div>
                  <Chrome class="color-picker" v-model="eyewhiteColorInfo" v-if="showEyewhiteColorPicker"></Chrome>

                  <div class="controls-div">
                     <label class="controls-label" for="pupil-color-chooser">Pupil: </label>
                     <input class="controls-input" type="color" id="pupil-color-chooser" v-model="pupilStyle.fill" v-if="useBrowserColorPicker" />
                     <button id="pupil-color-chooser" class="color-button" @click="toggleColorPicker('pupil')" :style="pupilButtonStyle" v-else></button>
                  </div>
                  <Chrome class="color-picker" v-model="pupilColorInfo" v-if="showPupilColorPicker"></Chrome>

                  <div class="controls-div">
                     <label class="controls-label" for="ear-length-chooser">Ear Length: </label>
                     <input class="controls-input" type="number" id="ear-length-chooser" step="1" min="1" max="35" v-model="earLengthModifier" @input="setSvgContainerHeight" />
                  </div>
                  
                  <div class="controls-div">
                     <label class="controls-label" for="ear-width-chooser">Ear Width: </label>
                     <input class="controls-input" type="number" id="ear-width-chooser" step="1" min="1" max="13" v-model="earWidthModifier" />
                  </div>
                  
                  <div class="controls-div">
                     <label class="controls-label" for="nose-size-chooser">Nose Size: </label>
                     <input class="controls-input" type="number" id="nose-length-chooser" step="1" min="1" max="8" v-model="noseSizeModifier" />
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="js/script.js"></script>
   </body>
</html>